@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	--webkit-font-smoothing: antialiased;
	--webkit-overflow-scrolling: touch;

	margin-top: 70px;
}

h1,h2,h3,h4,h5,h6{
	font-family:"Raleway";
	font-weight: 300;
	color: #333;
}
p{
	line-height: 28px;
	margin-bottom: 25px;
}
.centered{
	text-align: center;
}
a{
	color: #f85c37;
	
}
a:hover,a:focus{
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.navbar{
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-inverse{
	background:#2d2d2d;
	border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active> a{
	background-color: #ff7878;
}
.navbar-inverse .navbar-brand{
	color: #999;
	font-weight: bolder;
	font-size: 22px;
}
#headerwrap{
	background: url(https://networkguru.ru/image/10-tendenciy-v-oblasti-it-infrastruktury-i-operacij-2020-01.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	background-size: 100%;
	border-bottom: 1px solid #083BF8;

	--webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}
#headerwrap h1{
	margin-top: 100px;
	color: black;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}
#headerwrap h2{
	color: black;
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#w{
	background: #ebebeb;
}
.w{
	padding-top: 35px;
}
.w h4{
	font-size:25px;
}

.tilt{
	--webkit-transform: all 0.5s ease;
	-moz-transform: all 0.5s ease;
	-o-transform: all 0.5s ease;
	-ms-transform: all 0.5s ease;
	transform: all 0.5s ease;
}
.tilt:hover{
	--webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.wb{
	padding-top: 35px;
	margin-bottom: ;
}
.wb h4{
	font-size: 35px;
}
#lg{
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
#lg h4{
	font-size: 45px;
	padding-bottom: 50px;
}
#r{
	background:#EF8B97;
	padding-top: 70px;
	padding-bottom: 70px;
}
#r h4{
	color: white;
	font-size: 45px;
}
#r p{
	color:white;
}
#footer{
	background: #2d2d2d;
	padding-top: 30px;
	padding-bottom: 20px;
}
#footer i{
	color:#bdbdbd;
	font-size: 30px;
	padding: 20px;
}
#footer i:hover{
	color:  #EF8B97;
}
.carousel-inner img{
	width: 100%;
}
.carousel-inner h3 {
 background-color: rgba(20, 49, 68, 0.6);
 padding: 20px;
 animation: anime-H3 1.3s ease-out;
}
.carousel-inner p {
 font-size: 18px;
 background-color: rgba(30,29,29, 0.6);
 padding: 20px;
 animation: anime-P 1.6s ease-out;
}
.form-signin{
	display: table-cell;
	vertical-align: middle;
}
#sing{
	display: table;
	max-width: 400px;
	height: 100%;
	min-height: 100%;
	margin-bottom: 40px;
}
aside{
	padding-top: 40px;
}
.prof-cont{
	max-width: 1000px;
}
.profile aside p{
	font-size: 12px;
}
.profile aside ul li{
	float: left;
	margin-right: 8px;
}
.profile aside ul{
	list-style: none;
	padding: 0px;
}
.profile aside ul:after{
	content: "";
	display: block;
	clear: both;
}
#map{
	height: 700px;
	border: 2px solid #2d2d2d;
	margin-bottom: 40px;
}
#albom{
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f1f1f1;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#albom img{
	margin-top: 25px;
	box-shadow: 5px 5px 5px #aaaaaa;
	height: 200px;
}	
#allalbom{
	background: gray;
}






@keyframes anime-H3 {
 from {
  opacity: 0;
  transform: translateX(-2000px);
 }
 to {
  opacity: 1;
  transform: translateX(0);
 }
}
@keyframes anime-P {
 from {
  opacity: 0;
  transform: translateX(2000px);
 }
 to {
  opacity: 1;
  transform: translateX(0);
 }
}
